.block-form {
  background-color: $base-color;
  padding-bottom: 90px;
  padding-top: 30px;
}

.block-form {
  // height: 910px;
  background-image: url(../../img/kitchen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.block-form__title {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Playfair Display', Times, serif;
  @include PlayfairDisplay (700, 45px, 54px);
}

.block-form__text {
  margin-bottom: 30px;
  text-align: center;
  @include Raleway (400, 18px, 24px);
}

.block-form__item {
  @include Raleway (300, 14px, 16px);
}

.block-form__button {
  text-transform: uppercase;
  @include Raleway (700, 18px, auto);
  letter-spacing: 3px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 25px 0;
  background: $button-color;
}

.wrapper-form {
  border: none;
  margin: 0;
  padding: 0;
}

.form-style {
  margin-bottom: 45px;
  width: 100%;
  border: none;
  background: none;
  border-bottom: solid 2px rgba($color: #ffffff, $alpha: 0.53);
}

.form-item__wrapper {
  position: relative;
}

.block-form__item {
  position: absolute;
}

.submit-description {
  text-align: center;
  @include Raleway (300, 16px, auto);
  opacity: 0.7;
  letter-spacing: 1px;
}


// @media (min-width: $tablet-width) {
//   .wrapper-form {
//     width: 480px;
//     margin: 0 auto;
//   }

// }

// @media (min-width: $desktop-width) {
//   .block-form .wrapper {
//     width: 680px;
//     margin-left: 0;
//   }

//   .block-form {
//     padding-bottom: 0;
//   }

// }


