.block-form {
  background-blend-mode: multiply;
  background-color: rgba($color: $transparent-bg, $alpha: 0.6);
  padding-bottom: 90px;
  padding-top: 30px;
  background-image: url(../../img/kitchen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.block-form__title {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Playfair Display', Times, serif;
  @include PlayfairDisplay (700, 45px, 54px);
}

.block-form__text {
  margin-bottom: 30px;
  text-align: center;
  @include Raleway (400, 18px, 24px);
  letter-spacing: 1px;
  opacity: 0.7;
}

.block-form__item {
  position: absolute;
  @include Raleway (300, 14px, 16px);
}

.block-form__button {
  text-transform: uppercase;
  @include Raleway (700, 18px, auto);
  letter-spacing: 3px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 25px 0;
  background: $button-color;
}

.block-form__button:hover {
  cursor: pointer;
}

.wrapper-form {
  border: none;
  margin: 0;
  padding: 0;
}

.form-style {
  color: rgba($color: #ffffff, $alpha: 0.8);
  margin-bottom: 40px;
  width: 100%;
  border: none;
  background: none;
  border-bottom: solid 2px rgba($color: #ffffff, $alpha: 0.7);
  padding-bottom: 10px;
  padding-left: 7px;
  box-sizing: border-box;
}

.form-style::placeholder {
  color: rgba($color: #ffffff, $alpha: 0.8)
}

.form-item__wrapper {
  position: relative;
}



.submit-description {
  text-align: center;
  @include Raleway (300, 16px, auto);
  opacity: 0.7;
  letter-spacing: 1px;
}


@media (min-width: $tablet-width) {
  .wrapper-form {
    width: 475px;
    margin: 0 auto;
  }

  .block-form__button {
    width: 475px;
  }

  .submit-description {
    width: 475px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    @include Raleway (300, 18px, auto);
  }

}

@media (min-width: $desktop-width) {
  .block-form .wrapper {
    margin: 0;
    padding: 25px 100px 0;
  }

  .block-form {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    background-image: none;
    min-height: 685px;
  }

  .block-form__wrapper {
    width: 50%;
    background-color: $base-color;
  }

  .block-form__side-picture {
    width: 50%;
    background-image: url(../../img/kitchen.jpg);
    background-repeat: no-repeat;
  }

  .block-form__title {
    text-align: left;
    @include PlayfairDisplay (700, 40px, 54px);
  }

  .block-form__text {
    @include Raleway (400, 14px, 24px);
    text-align: left;
    margin-bottom: 20px;
  }

  .form-item__wrapper {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .block-form__button {
    @include Raleway (700, 15px, auto);
    letter-spacing: 3px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: rgba($color: #ffffff, $alpha: 0);
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .submit-description {
    @include Raleway (300, 14px, auto);
    text-align: left;
  }

}


