.blume-video {
  position: relative;
  height: 620px;
  background-color: $base-color;
  background-image: url(../../img/background-video.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.blume-video-bg {
  background-color: $transparent-bg;
  height: 100%;
  opacity: 0.7;
}

.blume-video__button {
  background-image: url(../../img/video-button.png);
  background-repeat: no-repeat;
  background-position-x: -18px;
  background-position-y: -15px;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  display: block;
  position: relative;
  top: -400px;
  margin: 0 auto;
  cursor: pointer;
}

.blume-video__text {
  @include Raleway (400, 22px, 30px);
  text-align: center;
  position: relative;
  top: -390px;
  letter-spacing: 1px;
}


@media (min-width: $tablet-width) {
  .blume-video {
    height: 810px;
  }

  .blume-video__button {
    background-size: 193px 193px;
    background-position-x: -17px;
    background-position-y: 0;
    width: 150px;
    height: 150px;
    top: -530px;
  }

  .blume-video__text {
    top: -495px;
    width: 470px;
    text-align: center;
    margin: 0 auto;
  }

}

@media (min-width: $desktop-width) {
  .blume-video {
    height: 600px;
  }

}

