.header-logo {
  position: absolute;
  top: 25px;
  left: 17px;

}

.header-logo-desktop {
  display: none;

}

.logo_img {
  height: 23px;
  width: 37px;
}

@media (min-width: $tablet-width) {
  .header-logo {
    top: 60px;
    left: 37px;

  }

  .logo_img {
    height: 50px;
    width: 85px;
  }

}

@media (min-width: $desktop-width) {
  .header-logo-desktop {
    top: 20px;
    left: 645px;
    display: block;
    z-index: 10;
  }

  .header-logo {
    display: none;
  }

}
