.main-nav__tel {
  font-family: mullerultralight;
  @include mullerultralight (400, 14, auto);
}

.main-nav {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: $header-color;
  padding-top: 110px;
  box-sizing: border-box;
  display: none;
}

.menu-button {
  top: 0;
  right: 0;
  position: absolute;
  width: 68px;
  height: 24px;
  background-color: #fff;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: none;
    padding-top: 165px;
  }

}


@media (min-width: $desktop-width) {
  .main-nav__tel {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 50px;
    background-color: red;
  }

}





