// .main-header {
//   background-image: url(../../img/header-background.jpg);
//   width: 1163px;
//   height: 595px;
// }
.main-header {
  background-blend-mode: multiply;
  background-color: rgba($color: $header-color, $alpha: 0.88);
  height: 100%;
  background-image: url(../../img/menu-desk4.jpg);
  background-repeat: no-repeat;
  height: 443px;
  position: relative;
  padding-bottom: 165px;
}

.menu-button {
  top: 0;
  right: 0;
  position: absolute;
  width: 68px;
  height: 24px;
  background-color: #fff;
}

.main-nav__tel {
  font-family: mullerultralight;
  @include mullerultralight (400, 14px, auto);
  display: none;
}

.header-slider {
  display: none;
}




@media (min-width: $tablet-width) {
  .main-header {
    height: 947px;
    // padding-top: 0;
  }


}


@media (min-width: $desktop-width) {
  .main-header {
    height: 605px;
    background-image: none;
    background-size: 1163px 595px;
    background-position: center;
    position: relative;
    background-blend-mode: normal;
  }

  .main-header__top {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    width: 1170px;
    top: 30px;
  }

  .menu-button {
    position: static;
  }

  .main-nav__tel {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
  }

  .main-nav__tel::before {
    content: "";
    height: 15px;
    width: 12px;
    background-image: url(../../img/phone-receiver.png);
    position: absolute;
    background-size: 12px 15px;
    left: 1010px;
    top: 0px;
    background-repeat: no-repeat;
  }

  .header-slider {
    display: block;
    position: absolute;
    top: 90px;
    left: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 595px;
    width: 1163px;
  }

  .header-slider .slick-dots {
    bottom: -55px;
    right: -510px;
  }






  // .slider {
  //   margin: 0;
  //   padding: 0;
  //   list-style: none;
  //   width: 1166px;
  //   height: 550px;
  //   margin: 0 auto;
  // }

  // .slider-item {
  //   height: 550px;
  //   width: 25%;
  // }

  // .slider .slider-item:hover {
  //   opacity: 0.3;
  //   width: 150px;
  // }

  // .slider1 {
  //   display: flex;
  // }



  // .slider-item1 {
  //   background-color: red;
  // }

  // .slider-item2 {
  //   background-color: rgb(77, 23, 23);
  // }
  // .slider-item3 {
  //   background-color: rgb(245, 167, 167);
  // }
  // .slider-item4 {
  //   background-color: rgb(31, 10, 10);
  // }

  // .slider-item5 {
  //   background-color: rgb(70, 45, 45);
  // }


}
