.portfolio__title {
  text-align: center;
}

.portfolio__list {
  list-style: none;
  padding-left: 0;
}

.portfolio__title {
  margin-bottom: 40px;
}

.portfolio__list li {
  margin-bottom: 30px;
}

.portfolio__list--item {
  text-decoration: none;
}

