.portfolio__title {
  text-align: center;
}

.portfolio__list {
  list-style: none;
  padding-left: 0;
  padding-bottom: 1px;

  &--item {
    text-decoration: none;
    @include Raleway (400, 22px, auto, $menu-items);
  }
  &--active {
    @include Raleway (600, 22px, auto, $title-blocks);
  }
}

.portfolio__title {
  margin-bottom: 40px;
}

.portfolio__list li {
  margin-bottom: 25px;
}

.portfolio__projects {
  list-style: none;
}

.projects-item__title {
  display: block;
  margin-left: 40px;
  position: absolute;
  @include Raleway (600, 18px, auto, $title-blocks);
  &--active {
    @include Raleway (600, 18px, auto, $title-blocks);
  }
}

.projects-item__text {
  display: none;
}

.portfolio__projects {
  padding-left: 0;
  display: flex;
  margin-bottom: 0;
}

.portfolio__button--left,
.portfolio__button--right {
  display: none;
}

.projects__item--wrap .projects__item--button:hover {
  cursor: pointer;
}

.projects__item--button {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  background-color: red;
  background-image: url(../../img/plus.jpg);
  background-repeat: no-repeat;
  background-position: -18px -15px;
  opacity: 0.95;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: none;
  display: none;
}

.projects__item--wrap:hover .projects__item--button {
  display: block;
}

.slick-slider .slick-list {
  margin-bottom: 0;
}

.projects__item {
  margin: 0 10px;
}




@media (min-width: $tablet-width) {
  .portfolio__title {
    text-align: left;
  }

  .portfolio__list {
    display: flex;
    justify-content: space-between;
  }

}

@media (min-width: $desktop-width) {

  .portfolio__projects {
    margin-bottom: 0px;
    padding: 0 95px;
  }

  .portfolio__list {
    width: 570px;

    &--item {
      @include Raleway (400, 18px, auto, $menu-items);
    }
    &--active {
      display: inline-block;
      border-bottom: 1px solid $title-blocks;
      padding-bottom: 10px;
      @include Raleway (600, 18px, auto, $title-blocks);
    }
  }

  .portfolio__title {
    margin-bottom: 60px;
  }

  .projects__item {
    position: relative;
    margin: 0;
  }

  .projects__item img {
    height: 552px;
    top: 0;
    left: 0;
  }

  .projects-item__text {
    display: block;
    position: absolute;
    bottom: 70px;
    left: -40px;
    transform: rotate(270deg);
  }

  .projects-item__title {
    position: absolute;
    top: 30px;
    left: -20px;
  }

  .projects-item__title--active {
    color: white;
  }

  .projects__item--wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $base-color;
    opacity: 0.8;

  }


  .projects__item--wrap:hover {
    background-color: rgba($color: $base-color, $alpha: 0);

  }

  .projects__item--wrap:hover .projects-item__title,
  .projects__item--wrap:hover .projects-item__text {
    display: none;
  }


  .slick-prev:before, .slick-next:before {
    font-size: 40px;
  }

  .slick-next {
    right: 120px;
}

.slick-prev {
  z-index: 10;
  left: 120px;
}

.projects-item__title {
  color: white;
}

}

