.reviews-box__title {
  margin-top: -30px;
  margin-bottom: 0;
  @include Raleway (600, 22px, 30px, $stage-title);
}

.reviews-box__title-service {
  margin-top: 5px;
  letter-spacing: 1px;
  @include Raleway (700, 18px, auto, $reviews-box__title);
}

.reviews-box__text {
  letter-spacing: 1px;
  @include Raleway (300, 20px, 30px, $service-text);
}

.reviews-box {
  text-align: center;
  padding-bottom: 30px;
}

// @media (min-width: $tablet-width) {
//   .reviews-box {
//     width: 650px;
//     height: 270px;
//     position: relative;
//     text-align: left;
//   }

//   .reviews-box__img {
//     position: absolute;
//     right: -100px;
//     top: 50px;
//   }

// }
