.reviews-box__title {
  margin-top: -30px;
  margin-bottom: 0;
  @include Raleway (600, 22px, 30px, $stage-title);
}

.reviews-box__title-service {
  margin-top: 5px;
  letter-spacing: 1px;
  @include Raleway (700, 18px, auto, $reviews-box__title);
}

.reviews-box__text {
  letter-spacing: 1px;
  @include Raleway (300, 20px, 30px, $service-text);
}

.reviews-box {
  background-color: $background-reviews;
  display: block;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 40px;
}

.reviews-box__img {
  position: relative;
  top: -40px;
  margin: 0 auto;
}


@media (min-width: $tablet-width) {
  .reviews-box {
    margin-top: 0;
    margin-right: 190px;
    width: 650px;
    height: 309px;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    padding: 50px 170px 50px 70px;
  }

  // .slick-active {
  //   width: 730px;
  // }

  .slick-active .reviews-box__img {
    position: absolute;
    right: -155px;
    top: 50px;
    display: block;
  }

  .reviews__title {
    text-align: left;
  }

  .reviews-box__title {
    margin-top: 0;
  }

  .reviews-box__title-service {
    @include Raleway (700, 16px, auto, $reviews-box__title);
  }

  .reviews-box__text {
    width: 460px;
    letter-spacing: 2px;
    @include Raleway (300, 16px, 25px, $service-text);
  }
}

@media (min-width: $desktop-width) {
  .reviews-box {
    margin-right: 133px;
  }

  .slick-active .reviews-box__img {
    right: -133px;
  }

  .reviews-box__img {
    position: absolute;
  }

  .reviews-box__text,
  .reviews-box__title-service,
  .reviews-box__title {
    width: 435px;
    margin-right: 0;
  }

}
