.reviews {
  padding-top: 100px;
  padding-bottom: 150px;
}

.reviews__title {
  text-align: center;
  margin-bottom: 80px;
}

.reviews-box {
  display: block;
  position: relative;
}

.reviews-client {
  list-style: none;
  padding-left: 0;
}

.reviews-wrapper {
  padding: 0 15px;
}

// .reviews-box--active {
//   display: block;
// }




@media (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 150px;
  }

  .reviews-wrapper {
    width: 100%;
    margin-left: 36px;
    padding: 0;
  }

}

@media (min-width: $desktop-width) {
  .reviews__title {
    text-align: left;
  }

  .reviews-button {
    margin: 0 auto;
  }

  .reviews {
    padding-bottom: 185px;
  }

}
