.social,
.nav-social {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 40px;
  width: 236px;
}

.nav-social {
  width: 200px;
  display: none;
}

.social__item,
.social__item--menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  // height: 47px;
  // width: 47px;
}

.social__header-item--vkontakte {
  background-position: center;
  background-image: url(../../img/vk.png);
  background-repeat: no-repeat;
  background-size: 24px 17px;
}

.social__header-item--instagram {
  background-position: center;
  background-image: url(../../img/instagram.png);
  background-repeat: no-repeat;
  background-size: 22px 22px;
}

.social__header-item--facebook {
  background-position: center;
  background-image: url(../../img/facebook.png);
  background-repeat: no-repeat;
  background-size: 13px 22px;
}



.social__item--vkontakte {
  background-position: center;
  background-image: url(../../img/vk.png);
  background-repeat: no-repeat;
  background-size: 31px 19px;
}

.social__item--instagram {
  background-position: center;
  background-image: url(../../img/instagram.png);
  background-repeat: no-repeat;
  background-size: 27px 26px;
}

.social__item--facebook {
  background-position: center;
  background-image: url(../../img/facebook.png);
  background-repeat: no-repeat;
  background-size: 13px 26px;
}

.social__item a {
  height: 30px;
  width: 30px;
}

.nav-social--menu {
  z-index: 111;
  position: absolute;
  height: 50px;
}

.nav-social--menu {
  width: 175px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.nav-social__item {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  height: 22px;
}

.social__item--menu a {
  height: 30px;
  width: 30px;
}

@media (min-width: $tablet-width) {
  .social__header-item--vkontakte {
    background-size: 37px 24px;
  }

  .social__header-item--instagram {
    background-size: 37px 37px;
  }

  .social__header-item--facebook {
    background-size: 21px 37px;
  }

  .social__item--vkontakte {
    background-size: 20px 13px;
  }

  .social__item--instagram {
    background-size: 18px 17px;
  }

  .social__item--facebook {
    background-size: 10px 17px;
  }


  .social {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
    width: 165px;
  }

  .nav-social {
    width: 330px;
  }

  .nav-social--menu {
    width: 315px;
  }

  .social__item--menu a {
    height: 38px;
    width: 38px;
  }

  .nav-social--menu {
    margin-top: 30px;
  }

}

@media (min-width: $desktop-width) {
  .nav-social {
    position: absolute;
    bottom: -23px;
    width: 150px;
    left: 85px;
    display: flex;
  }

  .social__item--menu a {
    height: 25px;
    width: 25px;
  }

  .social__item--menu {
    height: 50px;
    width: 50px;
  }

  .social__header-item--vkontakte {
    background-size: 14px 10px;
  }

  .social__header-item--instagram {
    background-size: 14px 14px;
  }

  .social__header-item--facebook {
    background-size: 7px 14px;
  }

  .nav-social__item {
    display: none;
  }

}
