.social,
.nav-social {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 40px;
  width: 236px;
}

.nav-social {
  width: 200px;
}

.social__item,
.social__item--menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  // height: 47px;
  // width: 47px;
}

.social__header-item--vkontakte {
  background-position: center;
  background-image: url(../../img/vk.png);
  background-repeat: no-repeat;
  background-size: 24px 17px;
}

.social__header-item--instagram {
  background-position: center;
  background-image: url(../../img/instagram.png);
  background-repeat: no-repeat;
  background-size: 22px 22px;
}

.social__header-item--facebook {
  background-position: center;
  background-image: url(../../img/facebook.png);
  background-repeat: no-repeat;
  background-size: 13px 22px;
}



.social__item--vkontakte {
  background-position: center;
  background-image: url(../../img/vk.png);
  background-repeat: no-repeat;
  background-size: 31px 19px;
}

.social__item--instagram {
  background-position: center;
  background-image: url(../../img/instagram.png);
  background-repeat: no-repeat;
  background-size: 27px 26px;
}

.social__item--facebook {
  background-position: center;
  background-image: url(../../img/facebook.png);
  background-repeat: no-repeat;
  background-size: 13px 26px;
}

.social__item a {
  height: 30px;
  width: 30px;
}

@media (min-width: $tablet-width) {
  .social__header-item--vkontakte {
    background-size: 37px 24px;
  }

  .social__header-item--instagram {
    background-size: 37px 37px;
  }

  .social__header-item--facebook {
    background-size: 21px 37px;
  }

  .social__item--vkontakte {
    background-size: 20px 13px;
  }

  .social__item--instagram {
    background-size: 18px 17px;
  }

  .social__item--facebook {
    background-size: 10px 17px;
  }

  .social__item {

  }

  .social {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
    width: 165px;
  }

  .nav-social {
    width: 330px;
  }

}

@media (min-width: $desktop-width) {
  .nav-social {

  }

}
