.social {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 40px;
  width: 236px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 47px;
  width: 47px;
}

.social__item--vkontakte {
  background-position: center;
  background-image: url(../../img/vk.png);
  background-repeat: no-repeat;
  background-size: 31px 19px;
}

.social__item--instagram {
  background-position: center;
  background-image: url(../../img/instagram.png);
  background-repeat: no-repeat;
  background-size: 27px 26px;
}

.social__item--facebook{
  background-position: center;
  background-image: url(../../img/facebook.png);
  background-repeat: no-repeat;
  background-size: 13px 26px;
}
