.stage-item__text {
  @include Raleway (300, 18px, 25px, $service-text);
}

.stage-item__title {
  position: relative;
  margin-bottom: 35px;
  @include Raleway (600, 22px, 18px, $stage-title);
}

.stage-item {
  margin-bottom: 50px;
  position: relative;

  &--line {
    position: absolute;
    top: 40px;
    height: 1px;
    width: 40px;
    background-color: #5e5e5e;
  }
}

@media (min-width: $tablet-width) {
  .stage-item {
    box-sizing: border-box;
    padding-left: 80px;
  }

  .stage-item__title {
    margin-top: 10px;
  }

  .stage-item__text {
    @include Raleway (300, 16px, 25px, $service-text);
  }

  .stage-item__title:before {
    content: "";
    height: 70px;
    width: 70px;
    background-image: url(../../img/elips.png);
    position: absolute;
    // background-size: 12px 15px;
    // left: 1010px;
    top: -27px;
    left: -80px;
    background-repeat: no-repeat;
  }

  .stage-item__title:after {
    counter-increment: myCounter;
    content:counter(myCounter);
    position: absolute;
    top: -12px;
    left: -49px;
    @include Raleway (500, 12px, 42px, #00203a);
    padding: 0;
    margin: 0;
  }


}

