.stage-project__title {
  text-align: center;
  padding-top: 65px;
  margin-bottom: 50px;
}

.stage-list {
  list-style: none;
  padding: 0;
}

.stage-projeсt {
  padding-bottom: 60px;
}


@media (min-width: $tablet-width) {
  .stage-project__title {
    text-align: left;
    padding-top: 140px;
  }

  .stage-item {
    width: 50%;
  }

  .stage-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
  }

  .stage-projeсt {
    padding-bottom: 80px;
  }

}

@media (min-width: $desktop-width) {
  .stage-item {
    width: 377px;
    box-sizing: border-box;
    padding-left: 100px;
    margin-right: 19px;
    margin-bottom: 20px;

  }

  .stage-item:nth-child(3n) {
    margin-right: 0;
  }

  .stage-item:nth-child(1) {
    padding-left: 80px;
  }

  .stage-item:nth-child(4) {
    padding-left: 80px;
  }

  .stage-project__title {
    padding-top: 85px;
  }

  .stage-projeсt {
    padding-bottom: 65px;
  }

  .stage-list {
    margin-top: 70px;
    // justify-content: space-between;
  }

}
