
@font-face {
  font-family: 'mullerthin';
  src: url('../fonts/fontfabric_-_mullerthin-webfont.woff2') format('woff2'),
       url('../fonts/fontfabric_-_mullerthin-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mullerultralight';
  src: url('../fonts/fontfabric_-_mullerultralight_2-webfont.woff2') format('woff2'),
       url('../fonts/fontfabric_-_mullerultralight_2-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;
