$background-color: #fdfaf3;
$header-color: #112537;
$base-color: #182c3d;
$button-color: #f8a25a;
$number-color: #fea052;
$round-button: #febc80;
$maine-color-text: #ffffff;
$background-portfolio: #dddddd;
$background-reviews: #ffffff;
