$background-color: #fdfaf3;
$header-color: #112537;
$base-color: #182c3d;
$title-color: #1a292f;
$title-blocks: #00203a;
$menu-items: #7d7d7d;
$advantages-text: #838383;
$service-text: #5e5e5e;
$stage-title: #313131;
$button-color: #f8a25a;
$number-color: #fea052;
$round-button: #febc80;
$maine-color-text: #ffffff;
$background-portfolio: #dddddd;
$background-reviews: #ffffff;
$main-text-color: #ffffff;
$menu-item-active: #f8a25a;
$reviews-box__title: #efb172;
$main-footer__text: #ffc487;
$transparent-bg: #182c3d;
$buttom-slider: #1a444a;

$tablet-width: 768px;
$desktop-width: 1200px;
